
@import "config";

section#project-detail {
  //margin-left: 20px;
  width: calc(100% - 22px);
  display: flex;
  flex-direction: column;
  align-items: center;

  div.palette-tone2-border {
    border-left: 40px solid #f1f1f1;
    width: calc(100% - 40px);
  }
  div.palette-tone1-30pct-border {
    border-left: 5px solid #d7d7d7;
    width: calc(100% - 5px);
  }

}

.project-detail-container {
  border-left: 2px solid #9b9b9b;
  padding-bottom: 60px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-detail-content {
  h2 {
    margin: 0;
    padding: 24px 0 24px 0;
  }
  p {
    width: 50%;
    margin: 0;
    padding-bottom: 18px;
    strong {
      font-weight: normal;
    }
  }
  blockquote {
    //width: 50%;
    padding: 30px;
    margin-left: 0;
    p {
      width: auto;
    }
  }
}

/* Tablet */
@media screen and (max-width: $tabletBreakpoint) {

  section#project-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.palette-tone2-border {
      border: none;
      width: 100%;
    }
    div.palette-tone1-30pct-border {
      border: none;
      width: 100%;
    }

  }

  .project-detail-container {
    border: none;
    padding-bottom: 60px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-detail-content {
    h2 {
      margin: 0;
      padding: 24px 0 24px 0;
    }
    p {
      width: 100%;
      margin: 0;
      padding-bottom: 18px;
      strong {
        font-weight: normal;
      }
    }
    blockquote {
      width: 85%;
      padding: 30px;
      margin-left: 0;
      p {
        width: auto;
      }
    }
  }
}

a.project-detail-image-wrapper {
  padding: 20px;
}

div.project-close-btn-wrapper {
  position: absolute;
  top: 20px;
  left: 30px;

  border: 2px solid #d7d7d7;
  width: 80px !important;
  height: 40px;

  div.palette-tone1-border {
    position: relative;
    left: -1px;
    border: 2px solid #9b9b9b;
    width: 78px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  a {
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    //color: #9b9b9b;
    text-decoration: none;
  }

}

div.project-detail-title {
  padding: 80px 0 0 0;
  z-index: 10;
}

div.project-detail-title-shape {
  position: relative;
  top: 120px;
  left: -60px;

  width: 0px;
  height: 0px;

  z-index: -1;

  svg {
    width: 120px;
    height: 120px;
  }

}
@media screen and (max-width: $mobileBreakpoint) {
  div.project-detail-title-shape {
    position: relative;
    top: 120px;
    left: calc(100% - 120px);

    width: 0px;
    height: 0px;

    z-index: -1;

    svg {
      width: 120px;
      height: 120px;
    }

  }
}

ul.project-detail-categories {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    height: 19px;
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
  }

}