/******************************************************************************
 site
 ******************************************************************************/

.color1-fg {
  color: #3b3b3b
}

.color2-bg {
  background-color: #9b9b9b;
}

.color2-fg {
  color: #9b9b9b !important;
}

.color2-border {
  border-color: #9b9b9b !important;
}

.color3-fg {
  color: #ffffff !important;
}

.color3-bg {
  background-color: #ffffff
}

.color4-fg {
  color: #242424;
}

.color5-bg {
  background-color: #ffcb23;
}

.color6-bg {
  background-color: #f1f1f1;
}

.color7-fg {
  color: #242424;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}


/******************************************************************************
 header
 ******************************************************************************/

div#explain-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 15px;
  padding: 20px 20px 0 0;
}

#explain-link {
    width: 134px;
    height: 15px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
}

div#sundial-wrapper {
  padding: 127px 0 0 20%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  overflow-y: hidden;
  align-items: center;
}

div.sundial {
  min-width: 625px;
  padding-right: 343px;
  flex: 1;
  display: flex;
  justify-content: center;
}

div.sundial svg {

}

div.intro-text-wrapper {
  padding: 143px 140px 0 140px;
}

span.intro-text {
  width: 1050px;
  height: 180px;
  font-family: HoeflerText;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.0416666666666665;
  letter-spacing: normal;
  padding: 16px 25px 16px 25px;
  box-decoration-break: clone;
}


/******************************************************************************
 bio intro
 ******************************************************************************/

$sectionWidth: 646px;

section#toggle-buttons {

  padding: 78px 0 70px 140px;
  //width: $sectionWidth;
  width: 100%;
  display: flex;

  a {
    //width: 150px;
    height: 40px;
    padding: 10px 60px 20px 20px;
    margin-right: 10px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 100;
    text-decoration:none
  }

}

.toggle-button-selected:after {
  content: " ";
  display: block;
  height: 5px;
  width: 100%;
  padding: 0 60px 0 20px;
  //background-color: red;
  position: relative;
  left: -20px;
  top: 20px;
  background-color: #ffcb23; // TODO don't hard code this one
}

.toggle-button-unselected {

}

section#introduction {
  padding: 0 0 0 140px;
  width:  $sectionWidth;
}

p.body-text-intro {
  font-family: Lato;
  font-size: 24px;
  line-height: 1.4444444444444444;
}

p.body-text-article {
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.4444444444444444;

  strong {
    font-weight: normal;
  }

}

section#endpage-buttons {
  padding: 0 0 0 140px;
  width:  $sectionWidth;

  ul {
    li {
      width: 650px;
    }
  }
}

ul.button-list {
  padding: 0;

  li {
    list-style-type: none;
    height: 50px;
    border: solid 2px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;

    a {
      padding-left: 10px;
      width: 258px;
      height: 24px;
      font-family: Lato;
      font-size: 20px;
      font-weight: 100;
      text-decoration:none
    }

  }
}


/******************************************************************************
 portfolio
 ******************************************************************************/

section#case-studies {
  padding: 0 0 0 140px;
}

span.project-list-title {
  display: block;
  padding: 10px 0 10px 0;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}

ul.case-study-list {
  padding: 0;
  margin: 0 0 20px 0;
}

li.case-study-summary {
  display: flex
}

span.case-study-title-wrapper {
  width: 650px;

  a {
    display: block;
    margin: 20px 367px 0 20px;
    min-width: 1px;
    max-width: 263px;
    width: 263px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.3333333333333333;
    overflow: hidden;
    word-wrap: break-word;
    text-decoration: none;
    box-decoration-break: clone;
    color: #ffffff; // TODO don't hard code this one
  }

  ul {
    margin: 20px 0 10px 0;
    padding: 0 0 0 20px;

    li {
      list-style-type: none;
      width: 94px;
      height: 15px;
      font-family: Lato;
      font-size: 12px;
      font-weight: 500;
    }
  }

}

section#projects {
  padding: 0 0 0 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.project-list-container {
  flex: 1;
}

ul.project-list {
  padding: 0;
  width: 650px;

  margin: 0 0 20px 0;
}

li.project-summary {
  list-style-type: none;
}

span.project-title-wrapper {
  display: block;
  padding: 10px 0 10px 0;

  a {
    display: block;
    margin: 10px 70px 0 20px;
    width: 560px;
    height: 33px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    box-decoration-break: clone;
    color: #242424;
  }

  ul {
    margin: 20px 0 10px 0;
    padding: 0 0 0 20px;

    li {
      list-style-type: none;
      width: 94px;
      height: 15px;
      font-family: Lato;
      font-size: 12px;
      font-weight: 500;
    }
  }

}

div.project-description {
  margin: 10px 70px 10px 20px;
}

div.filters-container {
  flex: 1;
  width: 300px;
  margin-left: 10px;

  ul {
    margin: 0;
  }

}


/******************************************************************************
 footer
 ******************************************************************************/
div.skylermadethis-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 0 0;
  margin-bottom:  61px;
}

a.skylermadethis {
  width: 134px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}
