<div class="sundial">
  <svg width="625px" height="475px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Intersection-Drawing-1a" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

      <polygon id="Filled-Emphasis-Irregular-Polygon" class="palette-highlight-fill" points="604 460 535 460 535 183.739732 604 146">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="21 15"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </polygon>

      <path d="M368,275.683449 L3.9263324,474 L368,474 L368,275.683449 Z" id="Filled-Triangle" class="palette-tone1-stroke palette-tone1-fill" stroke-width="2">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="56 -30"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>

      <path d="M603,132.683429 L3.92641761,459 L603,459 L603,132.683429 Z" id="Empty-Triangle" class="palette-tone1-stroke" stroke-width="2">

      </path>

      <rect id="Rectangle" class="palette-tone1-stroke" stroke-width="2" x="57" y="1" width="444" height="444">

      </rect>

    </g>
  </svg>
</div>

<div class="sundial">
  <svg width="350px" height="475px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Intersection-Drawing-2a" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

      <polygon id="Irregular-highlight-polygon" class="palette-highlight-fill" points="24 36.6587678 0 0 0 455 24 455 24 36.6587678">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="10 0"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </polygon>

      <path d="M1,3.47563654 L1,454 L283.644759,454 L1,3.47563654 Z" id="Unfilled-Triangle" stroke="#979797" stroke-width="2">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="0 20"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>

      <path d="M231.346378,311 L285,396.054624 C275.668033,405.292595 262.815978,411 248.627009,411 C220.114199,411 197,387.95286 197,359.522772 C197,337.135962 211.332004,318.086858 231.346378,311 L231.346378,311 Z" id="Filled-half-circle" stroke="#979797" class="palette-tone1-fill">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="-40 42"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>
    </g>
  </svg>
</div>

<div class="sundial">
  <svg class="sundial" width="350px" height="475px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Intersection-Drawing-3a" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path d="M267,29.0374914 L203.306439,132 C194.540419,130.724079 185.888033,127.626712 177.894073,122.580985 C147.129045,103.16233 137.766178,62.2395345 156.981526,31.1773618 C176.196874,0.115189051 216.713974,-9.32374753 247.479003,10.0949068 C255.472963,15.1406343 262.021926,21.6382441 267,29.0374914 Z" id="Circular-highlight-slice" class="palette-highlight-fill" >
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="30 0"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>

      <path d="M156.39385,276.756893 C150.362435,274.770019 144.555229,272.051188 139.07121,268.624393 C133.587191,265.197597 128.597811,261.169972 124.168022,256.619961 L1.37796736,453.125126 L33.603795,473.262058 L156.39385,276.756893 Z" id="Unfilled-rectangle-slice-2" stroke="#979797" stroke-width="2">

      </path>

      <path d="M230.754485,161.064141 L301.083057,48.5148994 L268.85723,28.3779674 L198.528658,140.927209 C204.557579,142.918077 210.36351,145.638946 215.847528,149.065741 C221.331547,152.492536 226.3222,156.518122 230.754485,161.064142 Z" id="Unfilled-rectangle-slice-1" stroke="#979797" stroke-width="2">

      </path>

      <path d="M177.318905,137 C183.7659,138.53829 190.075727,141.131845 196.005328,144.837071 C201.934929,148.542297 207.032048,153.076592 211.240829,158.196771 L147.921924,259.528201 C141.47493,257.989912 135.165102,255.396357 129.235501,251.691131 C123.3059,247.985905 118.208782,243.451609 114,238.331431 L177.318905,137 Z" id="Filled-circular-rectangle-slice" class="palette-tone1-fill">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="15 10"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>
    </g>
  </svg>
</div>

<div class="sundial">
  <svg class="sundial" width="350px" height="475px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Intersection-Drawing-4a" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

      <path d="M259,250 C286.908859,264.355066 306,293.447322 306,327.000002 C306,360.552683 286.908859,389.644939 259,404 L259,250 Z" id="Circular-highlight-slice" class="palette-highlight-fill">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="-23 -165"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>

      <path d="M1,233.119424 L1,456 L258,456 L258,2.24261475 L1,233.119424 Z" id="Unfilled-Irregular-Polygon" class="palette-tone1-stroke" stroke-width="2">

      </path>

      <path d="M166,395.510733 L166,477 L17,477 L17,238.821796 L166,105 L166,259.61965 C145.902683,275.452187 133,300.002555 133,327.565191 C133,355.127828 145.902683,379.678196 166,395.510733 Z" id="Filled-Irregular-Polygon" class="palette-tone1-fill">
        <animateTransform attributeName="transform"
                          type="translate"
                          from="0 0"
                          to="0 -20"
                          dur="20s"
                          begin="0s"
                          repeatCount="0"
                          restart="whenNotActive"
                          fill="freeze"
          />
      </path>

    </g>
  </svg>
</div>
