---
title: Introduction
---
<section id="toggle-buttons" class="section-grey palette-tone2-bg">
  <div class="content-width">
    <div class="content-half-width toggle-button-container">
      <a href="#intro-text-wrapper" id="read-bio" class="toggle-button palette-white-fg palette-highlight-bg toggle-button-selected fonts-cta-lv1-selected">Read Bio</a>
      <a href="/portfolio/#intro-text-wrapper" id="view-portfolio" class="toggle-button palette-tone1-fg palette-white-bg fonts-cta-lv1-unselected">View Portfolio</a>
    </div>
  </div>
</section>
<section class="section-separator palette-tone2-bg"></section>
<section class="section-separator palette-white-bg"></section>
<div class="palette-tone2-bg">
  <section id="introduction" class="section-white palette-white-bg">
    <div class="content-width">
      <div class="content-half-width">
        <p class="body-text-intro fonts-body-text-intro palette-black-fg">Skyler is a seasoned designer whose decade of experience has resulted in a unique blend of careful study, keen intuition, and meticulous process. After several years working as a UX and UI designer, while simultaneously providing creative direction and management for organizations, he has recently re-focused exclusively on UX and UI in order to get back to what he loves: the creation and refinement of interactive products.</p>
        <p class="body-text-article fonts-body-text-article palette-black-fg">Skyler spent several years as Chief Creative Officer & Lead UI/UX Designer at Transpose, Inc in Seattle. While there, <strong>his designs helped thousands of large and small businesses transform intimidating data management tasks in to effortless insight.</strong> Additionally, he fostered a lightweight creative team that could meet the needs of a dynamic workplace.</p>
        <p class="body-text-article fonts-body-text-article palette-black-fg">At Amazon, Skyler worked as a Senior Designer, where <strong>he brought the polish of a B2C design process to enterprise-focused products.</strong></p>
        <p class="body-text-article fonts-body-text-article palette-black-fg">Previously at Golden Frog, Skyler was hired as a Sr. UI/UX designer, and later promoted to Lead UI/UX designer and Creative Director. <strong>His process and advocacy drove renewed investment in design on the part of Golden Frog as an entire organization.</strong></p>
        <p class="body-text-article fonts-body-text-article palette-black-fg">As an independent designer, Skyler has led the design of interactive products for a wide variety of clients, from exciting local products to globally recognized brands. He brings with him a studied, evidence-based approach, rooted in an academic background that bridges the disciplines of Cognitive Psychology and Graphic Design.</p>
      </div>
    </div>
  </section>
  <section class="section-separator palette-white-bg"></section>
  <section id="endpage-buttons" class="section-white palette-white-bg">
    <div class="content-width">
      <ul class="button-list content-half-width">
        <li class="palette-tone1-border"><a href="/Skyler%20Wagner%20Resume.pdf" download class="palette-tone1-fg">Download Resume as a PDF</a></li>
        <li class="palette-tone1-border"><a href="/portfolio/#intro-text-wrapper" class="palette-tone1-fg">View Portfolio</a></li>
        <li class="palette-tone1-border"><a href="mailto:sjw@skylerwagner.com" class="palette-tone1-fg">Contact Skyler</a></li>
      </ul>
    </div>
  </section>
</div>