---
title: Introduction
---
<section id="toggle-buttons" class="section-grey">
  <a href="/.." id="read-bio" class="color3-fg color5-bg toggle-button-selected cta-lv1-selected">Read Bio</a>
  <a href="/portfolio/" id="view-portfolio" class="color2-fg color3-bg cta-lv1-unselected">View Portfolio</a>
</section>
<section id="introduction" class="section-white color3-bg">
  <p class="body-text-intro color4-fg">Skyler is a seasoned designer whose decade of experience has resulted in a unique blend of careful study, keen intuition, and meticulous process. After several years working as a UX and UI designer, while simultaneously providing creative direction and management for organizations, he has recently re-focused exclusively on UX and UI in order to get back to what he loves: the creation and refinement of interactive products.</p>
  <p class="body-text-article  color4-fg">Skyler spent several years as Chief Creative Officer & Lead UI/UX Designer at Transpose, Inc in Seattle. While there, <strong>his designs helped thousands of large and small businesses transform intimidating data management tasks in to effortless insight.</strong> Additionally, he fostered a lightweight creative team that could meet the needs of a dynamic workplace.</p>
  <p class="body-text-article  color4-fg">At Amazon, Skyler worked as a Senior Designer, where <strong>he brought the polish of a B2C design process to enterprise-focused products.</strong></p>
  <p class="body-text-article  color4-fg">Previously at Golden Frog, Skyler was hired as a Sr. UI/UX designer, and later promoted to Lead UI/UX designer and Creative Director. <strong>His process and advocacy drove renewed investment in design on the part of Golden Frog as an entire organization.</strong></p>
  <p class="body-text-article  color4-fg">As an independent designer, Skyler has led the design of interactive products for a wide variety of clients, from exciting local products to globally recognized brands. He brings with him a studied, evidence-based approach, rooted in an academic background that bridges the disciplines of Cognitive Psychology and Graphic Design.</p>
</section>
<section id="endpage-buttons" class="section-white color3-bg">
  <ul>
    <li class="color2-border"><a href="" class="color2-fg">Download Resume as a PDF</a></li>
    <li class="color2-border"><a href="" class="color2-fg">View Portfolio</a></li>
    <li class="color2-border"><a href="" class="color2-fg">Contact Skyler</a></li>
  </ul>
</section>